<footer>
        <div class="joinSection">
            <div class="joinDesc">
                <h1 class="sectionHeader">Join With Us</h1>
                <p class="sectionPara">
                    Once You Have Created Your Account, You Can Purchase Coins From Websites.
                </p>
            </div>
            <button class="btn primaryBtn">JOIN NOW</button>
        </div>

        <div class="footerlinksContainer">
            <div class="footerAboutus">
                <img src="/img/logo-white.png" alt="logo">
                <p class="darkPara">
                    With No Commission And Simple User Interface, Prouple Is The Most Reliabe Way To Trade For Cryptocurrency
                </p>

                <div class="footersociallinkContainer">
                    <img src="/img/fabook-icon-white.svg" class="sociallink" alt="facebook">
                    <img src="/img/twitter-icon-white.svg" class="sociallink" alt="twitter">
                    <img src="/img/inkedin-icon-white.svg" class="sociallink" alt="linkedin">
                    <img src="/img/whatsapp-icon-white.svg" class="sociallink" alt="whatsapp">
                </div>
            </div>

            <div class="footerlink">
                <h1 class="linkTitle">Explore</h1>
                <a href="/about" class="eachlink">About Us</a>
                <a href="#" class="eachlink">Blog</a>
                <a href="/contact" class="eachlink">Contact</a>
                <a href="#" class="eachlink">FAQ</a>
            </div>

            <div class="footerlink">
                <h1 class="linkTitle">Service</h1>
                <a href="#" class="eachlink">Mining</a>
                <a href="#" class="eachlink">Control</a>
                <a href="#" class="eachlink">Design</a>
                <a href="#" class="eachlink">Security</a>
            </div>

            <div class="footerlink">
                <h1 class="linkTitle">Resources</h1>
                <a href="#" class="eachlink">Style Guide</a>
                <a href="#" class="eachlink">Change Log</a>
                <a href="#" class="eachlink">License</a>
            </div>
        </div>

        <div class="footerCopyright">
            <p>&copy; 2026 Design & Developed By <a href="#" class="developedBy">DevMoor</a></p>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>
</html>