<%- include("partials/header") %>

<section class="gridSection">
    <div class="aboutDesc">
        <h1 class="headline">The Company History</h1>
        <p>
            It Is The Perfect Spot Get Started With Your Company. It Can Be The First Thing That people See And It Will Set The Tone For Their Experience With Your Company.
        </p>
    </div>

    <div class="sectionPic bouncepic aboutusPic" id="sectionPic">
        <img src="/img/about-hero.png" alt="Company History">
    </div>
</section>

<div class="statusContainer">
    <div class="status">
        <h1><b>360</b> Client</h1>
        <p>An About Page Is A Key Component Of Every Website.</p>
    </div>

    <div class="status">
        <h1><b>150+</b> Projects</h1>
        <p>About Page Is The First Page A Vistor sees When They Visit Your Website.</p>
    </div>

    <div class="status">
        <h1><b>20+</b> Countries</h1>
        <p>IT Is Perfect Spot To Get Started With Your Company.</p>
    </div>
</div>

<div class="services">
    <div class="aboutusimgContainer">
        <img src="/img/about-image-1.jpg" alt="">
        <img src="/img/about-image-2.jpg" alt="">
    </div>

    <div class="offers">
        <div class="eachOffer">
            <img src="/img/fast-forward-icon-white.svg" alt="">
            <div class="offerDesc">
                <h1>Fast Managment</h1>
                <p>The Complete Guide To Managment And How To Implement It Quickly And Effectively</p>
            </div>
        </div>

        <div class="eachOffer">
            <img src="/img/support-agent-icon-white.svg" alt="">
            <div class="offerDesc">
                <h1>Best Support</h1>
                <p>The Best Support For Online Crypto-Mining And How To Craft A Compelling Description.</p>
            </div>
        </div>

        <div class="eachOffer">
            <img src="/img/progress-warning-icon-white.svg" alt="">
            <div class="offerDesc">
                <h1>Best Progress</h1>
                <p>What Is A Crypto-Mining Malware And Why You MUST Protect Against Them.</p>
            </div>
        </div>
    </div>
</div>

<section class="videoSection">
    <h1 class="videoSectionHeader">Play The Video</h1>

    <div class="videoContaier">
        <div class="video">
            <img src="/img/about-video.jpg" alt="" class="thumbnail">
            <img src="/img/video-play-icon-white.svg" alt="" class="playIcon">
        </div>
        <p>
            Crypto Mining Has Become More Popular With People From All Walks Of Life And Across The world.
            This Article Will Teach You How To Mine Crypto Without Having To Buy Expensive Hardware Or Pay Exorbitant Electricity Bills.
        </p>
    </div>
</section>

<section class="teamSection">
    <h1 class="sectionHeader">Our Strong & Creative Team</h1>
    <div class="carouselContainer ">
        <div class="eachCarousel eachTeam">
            <div class="teamPic">
                <img src="/img/team-image-1.jpg" alt="">
            </div>
            <div class="teamDesc">
                <h1 class="teamName">Rebecca Walter</h1>
                <p class="position">UI UX Designer</p>
            </div>
        </div>

        <div class="eachCarousel eachTeam">
            <div class="teamPic">
                <img src="/img/team-image-3.jpg" alt="">
            </div>
            <div class="teamDesc">
                <h1 class="teamName">Bertha Earley</h1>
                <p class="position">Content Writer</p>
            </div>
        </div>

        <div class="eachCarousel eachTeam">
            <div class="teamPic">
                <img src="/img/team-image-2.jpg" alt="">
            </div>
            <div class="teamDesc">
                <h1 class="teamName">Richard Taylor</h1>
                <p class="position">Developer</p>
            </div>
        </div>
        <div class="eachCarousel eachTeam">
            <div class="teamPic">
                <img src="/img/team-image-1.jpg" alt="">
            </div>
            <div class="teamDesc">
                <h1 class="teamName">Rebecca Walter</h1>
                <p class="position">UI UX Designer</p>
            </div>
        </div>

        <div class="eachCarousel eachTeam">
            <div class="teamPic">
                <img src="/img/team-image-3.jpg" alt="">
            </div>
            <div class="teamDesc">
                <h1 class="teamName">Bertha Earley</h1>
                <p class="position">Content Writer</p>
            </div>
        </div>

        <div class="eachCarousel eachTeam">
            <div class="teamPic">
                <img src="/img/team-image-2.jpg" alt="">
            </div>
            <div class="teamDesc">
                <h1 class="teamName">Richard Taylor</h1>
                <p class="position">Developer</p>
            </div>
        </div>
    </div>

    <div class="carouselIndicator">
        <div class="indicator activeIndicator" onclick="slideCarousel(0)"></div>
        <div class="indicator" onclick="slideCarousel(1)"></div>
        <div class="indicator" onclick="slideCarousel(2)"></div>
        <div class="indicator" onclick="slideCarousel(3)"></div>
        <div class="indicator" onclick="slideCarousel(4)"></div>
        <div class="indicator" onclick="slideCarousel(5)"></div>
    </div>
</section>

<%- include("partials/footer") %>