<%- include("partials/header") %>

<section class="gridSection contactSection">
    <div class="contactformContaier">
        <h1 class="sectionHeader">Get In Touch</h1>
        <form action="#" class="contactForm">
            <div>
                <input type="text" placeholder="Full Name" class="contactInput">
                <input type="email" placeholder="Email" class="contactInput">
            </div>
            <textarea name="" id="" cols="30" rows="5" placeholder="Message" class="contactInput"></textarea>
            <button type="submit" class="btn primaryBtn contactBtn">Submit</button>
        </form>
    </div>

    <div class="sectionPic bouncepic contactPic" id="sectionPic">
        <img src="/img/contact-img.png" alt="Contact Us">
    </div>
</section>

<h1 class="addressHeader">Find Us Quickly</h1>
<div class="address">
    <div class="eachAdress">
        <h1>Tokyo</h1>
        <p>Phone: (841) 000-0000</p>
        <p>Address: 264 Pine Pitch Rd, Buffalo Mills, Pennsylvania(PA), 15534 </p>
        <p>Email: Demo@Website.com</p>
    </div>

    <div class="eachAdress">
        <h1>US</h1>
        <p>Phone: (841) 000-0000</p>
        <p>Address: 264 Pine Pitch Rd, Buffalo Mills, Pennsylvania(PA), 15534 </p>
        <p>Email: Demo@Website.com</p>
    </div>

    <div class="eachAdress">
        <h1>Canada</h1>
        <p>Phone: (841) 000-0000</p>
        <p>Address: 264 Pine Pitch Rd, Buffalo Mills, Pennsylvania(PA), 15534 </p>
        <p>Email: Demo@Website.com</p>
    </div>
</div>

<%- include("partials/footer") %>